body {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #e9ecef;
    color: #404247;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 2px solid #495057;
    box-shadow: 3px 3px 15px #495057;
    max-width: 370px;
    margin-top: 20px;
    background: whitesmoke;
    padding: 2px;
}

/* Header */

.title {
    color: #240046;
}

.hero {
    background: #6247aa;
    padding: 12px 8px;
    border-radius: 10px;
    color: #f1faee;
    font-family: 'IBM Plex Mono', monospace;
}

.convert-container {
    display: flex;
    justify-content: space-around;

}

/* Input field */
#input {
    width: 6rem;
    font-size: 20px;
    height: 30px;
    text-align: center;
    font-weight: bolder;
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 5px;

}

/* convert button */
#convert-btn {
    font-size: 18px;
    border-radius: 5px;
    padding: 8px 25px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    background-color: #f72585;
    color: #f4f4f9;
    border: none;
    box-shadow: 0px 0px 1px #f4f4f9;
}

#convert-btn:hover {
    cursor: pointer;
}

#convert-btn:active {
    color: #f72585;
    background: #f4f4f9;
}

/* Metric container typography */
.metric-container {
    border-bottom: 1px solid #240046;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.metric-container-last {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lengthMtoF,
#lengthFtoM,
#weightKtoL,
#weightLtoK,
#volumeGtoL,
#volumeLtoG {
    margin: 5px;
    padding: 0;
}


/* footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}